coverage>=4.0a5
six>=1.9.0
enum34>=1.0.4
coveralls>=1.0a2
docutils>=0.12
check-manifest>=0.24
flake8>=2.4.0
collective.checkdocs>=0.2
pygments>=2.0.2
sphinx_py3doc_enhanced_theme>=2.0.1
pyopenssl>=0.15.1
ndg-httpsclient>=0.4.0
pyasn1>=0.1.7
